/*!
 * antui v1.0.0
 * Copyright 2017-2019 casontan, Inc.
 */

/*通用样式*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
*, :after, :before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul{
  padding: 0;
  margin:0;
  list-style: none;
}
/*去除苹果浏览器默认样式*/
input[type="submit"],
input[type="text"],
input[type="button"],
input[type="number"],
select,
button {
  -webkit-appearance: none;
}

/* antui 全局容器 */
.antui {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .antui {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .antui {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .antui {
    width: 1170px;
  }
}

.clear:before,.clear:after{
  display: table;
  content: " ";
}
.clear:after{
  clear: both;
}

.float-left{
  float:left;
  margin-left:15px; 
}
.float-right{
  float:right;
  margin-right:15px; 
}

.hr{
  height: 1px;
  color: #ccc;
  background-color: #ccc;
  border: none;
  margin: 20px 0;
}
/* end antui 全局容器 */

input,textarea{
  color: rgba(58, 58, 58, 0.8);
}
input{
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  padding: .67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  /*color: rgba(0,0,0,.87);*/
  border-radius: .28571429rem;
  -webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
  transition: border-color .1s ease,-webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease,border-color .1s ease;
  transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input:focus{
    border-color: #85b7d9;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
button{
  outline: none;
}
textarea[disabled],input[disabled]{
  opacity: .45;
}
textarea{
    margin: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    padding: .78571429em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    outline: 0;
    /*color: rgba(0,0,0,.87);*/
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    font-size: 1em;
    line-height: 1.2857;
    resize: vertical;
}
textarea:focus{
    border-color: #85b7d9;
    border-radius: .28571429rem;
    background: #fff;
    -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
    -webkit-appearance: none;
}
.antui-small{
  font-size: 14px;
  color: rgba(0,0,0,.4);
  padding: 4px 0;
}
/*背景颜色*/
.antui-success{
  background-color: #239c3f!important
}
.antui-info{
  background-color: #189aaf!important
}
.antui-warning{
  background-color: #f3b809!important
}
.antui-danger{
  background-color: #ce3241!important
}
.antui-primary{
  background-color: #337ab7!important
}
.antui-secondary{
  background-color: #222!important
}
/*.antui-default{
  color: #333!important;
  background-color: #fff!important;
}*/

.antui-text-right{
  text-align: right;
}
.antui-text-left{
  text-align: left;
}

input.antui-form{
  height: 36px;
  line-height: 36px;
}

.antui-form,.antui-12{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.antui-form{
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.antui-form:focus{
    color: rgba(0,0,0,.95);
}

.antui-select{
  display: block;
  height: auto;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  padding: .62em 1em;
  color: rgba(0,0,0,.87);
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;

  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}
.ant-select.dropdown{
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  -webkit-transform: rotateZ(0);
  transform: rotateZ(0);
  min-width: 14em;
  min-height: 2.71428571em;
  background: #fff;
  display: inline-block;
  padding: .78571429em 2.1em .78571429em 1em;
  color: rgba(0,0,0,.87);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  -webkit-transition: width .1s ease,-webkit-box-shadow .1s ease;
  transition: width .1s ease,-webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease,width .1s ease;
  transition: box-shadow .1s ease,width .1s ease,-webkit-box-shadow .1s ease;
  box-sizing: border-box;
}
/* 表单部分1 -button*/
.antui-btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.antui-block {
  display: block;
  width: 100%;
}
.antui-inline-block{
  display: inline-block;
}
.antui-btn.disabled{
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

/*按钮颜色及可用状态样式*/
.antui-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.antui-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.antui-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.antui-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.antui-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.antui-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.antui-btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.antui-btn-secondary {
  background-color: #222;
  color: #fff;
  border: 1px solid transparent;
}
/* END 按钮颜色及可用状态样式*/

/*按钮组*/
.antui-btn-group{
  font-size: 0;
}
.antui-btn-group .antui-btn{
  border-radius: 0px;
}
.antui-btn-group .antui-btn:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; 
}
.antui-btn-group .antui-btn:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; 
}

/*button & input 组合*/
.antui-form-group,.icon-from{
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
.antui-form-group .antui-form{
  height: 34px;
  line-height: 34px;
  vertical-align: top;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.antui-form-group .antui-form:focus{
  border-color: #85b7d9;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*focus 的时候改变整个组合框的样式*/
.antui-form-group .antui-form:focus +button.antui-btn{
  border-color: #85b7d9;
}

.antui-form-group .antui-btn{
  height: 34px;
  line-height: 34px;
  padding: 0px 10px;
  font-size: 14px;
  color: #337ab7
}
.antui-form-group .antui-btn:last-child{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.antui-form-group.page .antui-form{
  width: 60px;
  text-align: center;
}
.antui-form-group.search .antui-form {
  width: 130px;
  /*text-align: center;*/
}

/*.antui-table .antui-table-tools{
  margin-bottom: 4px; 
}*/


.icon-form.icon-left .antui-form{
  padding-left: 30px;
  /*position: relative;*/
}
.icon-form.icon-left .antui-icon{
  position: absolute;
  margin-left: 13px;
  margin-top: 10px;
}

.icon-form.icon-right .antui-form{
  padding-right: 30px;
  /*position: relative;*/
}
.icon-form.icon-right .antui-icon{
  position: absolute;
  margin-top: 10px;
  margin-left: -22px;
}
/*END 按钮组*/

/* LABEL */
.antui-label{
  display: inline-block;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
/* END LABEL */

/* END 表单部分1 -button*/

/* 栅格系统*/
.antui-row{
  padding-left: -15px;
  padding-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
.antui-col{
  position: relative;
  min-height: 1px;
/*  padding-right: 15px;
  padding-left: 15px;*/
  float: left;
}
.antui-col.antui-12{
  flex: 0 0 100%;
  max-width: 100%;
}
.antui-col.antui-11 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}
.antui-col.antui-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.antui-col.antui-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.antui-col.antui-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
.antui-col.antui-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.antui-col.antui-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.antui-col.antui-5 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}
.antui-col.antui-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
.antui-col.antui-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.antui-col.antui-2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
.antui-col.antui-1 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
/* END 栅格系统*/

/*进度条*/
.antui-progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.antui-progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #2377bf;
  transition: width .6s ease;
  text-align: right;
  padding-right: 4px
}
.antui-progress.progress-md{
  height: 1.2rem;
}
.antui-progress.progress-lg{
  height: 1.4rem;
}

/*节点*/
.antui-node-line{
  padding: 0;
  list-style: none;
  margin-top: 0;
  /*margin-bottom: 10px;*/
  /*overflow:scroll;*/
}
.antui-node-line li{
  display: inline-block;
  vertical-align: top;
  width: 160px;
  color: #999;
  margin-left: -3px;
  position: relative;
  padding-top: 40px;
  font-size: 14px;
}
.antui-node-line .circle{
  position: absolute;
  height: 34px;
  width: 34px;
  background-color: red;
  opacity: 0;
  z-index: 20;
  top: 0;
  cursor: pointer;
}
.antui-node-line .line{
  height: 14px;
  background: #ececec;
  position: absolute;
  width: 100%;
  top: 10px;
  border-top: #cfcdcd 1px solid;
  border-bottom: #cfcdcd 1px solid;
}
.antui-node-line .line:before{
  content: "";
  border-radius: 34px;
  top: -11px;
  width: 34px;
  height: 34px;
  border-top: #cfcdcd 1px solid;
  border-bottom: #cfcdcd 1px solid;
  position: absolute;
  background: #ececec;
  left: -2px;
}
.antui-node-line .inline{
  position: absolute;
  width: 100%;
  top: 12px;
  z-index: 2;
  left: 9px;
  height: 10px;
  margin-left: -2px;
  
}
.antui-node-line  .completed .inline{
  background: #35bda3;
  background: -moz-linear-gradient(left, #35bda3, #4ad989);
  background: -o-linear-gradient(left, #35bda3, #4ad989);
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#35bda3), to(#4ad989));
}
.antui-node-line .inline:before{
  content: "";
  border-radius: 20px;
  top: -5px;
  left: -2px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  z-index: 22;
  background: #fff;
  border: #999 4px solid;
  cursor: pointer;
 
}
.antui-node-line  .completed .inline:before{
  background: #35bda3;
  border: #35bda3 4px solid;
}
.antui-node-line .inline:after{
  top: 0px;
  left: -1px;
  width: 100%;
  height: 10px;
  content: "";
  position: absolute;
  z-index: 2;
}
.antui-node-line .node-title{
  padding: 10px 0;
}


.antui-node-line  .completed .inline:after{
 background: linear-gradient(-45deg, rgba(255,255,255,0.2) 5%, transparent 10%, rgba(255,255,255,0.2) 15%, transparent 20%, rgba(255,255,255,0.2) 25%, transparent 30%, rgba(255,255,255,0.2) 35%, transparent 40%, rgba(255,255,255,0.2) 45%, transparent 50%, rgba(255,255,255,0.2) 55%, transparent 60%, rgba(255,255,255,0.2) 65%, transparent 70%, rgba(255,255,255,0.2) 75%, transparent 80%, rgba(255,255,255,0.2) 85%, transparent 90%, rgba(255,255,255,0.2) 95%, transparent 100%);
}
.antui-node-line li:last-child{
  width: 30px;
}

/*panel*/
.antui-panel{
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  border-color: #e8e8e8;
}
.antui-panel .head,.antui-panel .foot{
  padding: 10px 15px;
  color: #999;
  border-color: #e8e8e8;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.antui-panel .body{
  padding: 15px;
}

/*分页*/
.antui-page{
  display: inline-block;
  border-radius: 4px;
  font-size: 0;
  vertical-align: middle;
}
.antui-page li {
    display: inline-block;
    margin-left: 0;
    position: relative;
    /*float: left;*/
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
}
.antui-page li:hover,.antui-page li.antui-current{
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.antui-page li:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.antui-page li:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*分页数据显示*/
.antui-page-info{
  display: inline-block;
  font-size: 14px;
  color: #4c4b4b;
}

.antui-page-info .antui-select{
  display: inline-block;
  width: unset;
  padding: 5px 10px;
}

/*table*/
.antui-table{
    width: 100%;
    background: #fff;
    /*margin: 1em 0;*/
    border: 1px solid rgba(36,36,36,.18);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: .26rem;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0;

}
.antui-table caption{
  padding-top: 8px;
  padding-bottom: 8px;
  color: #585858;
}
.antui-table thead{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.antui-table thead th {
    cursor: auto;
    background: #f9fafb;
    text-align: inherit;
    color: rgba(0,0,0,.87);
    padding: .7rem .7rem;

    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-right: 1px solid rgba(36,36,36,.1);
    border-top: none;
}
.antui-table thead th:first-child{
  border-left: none;
  border-top-left-radius: .26rem;
}
.antui-table thead th:last-child{
  border-right: none;
  border-top-right-radius: .26rem;
}
.antui-table tbody tr td{
  border-left: none;
}
.antui-table tbody tr td:last-child{
  border-right: none;
}
.antui-table tbody tr td{
   border-bottom: none;
}
.antui-table td{
  border: 1px solid rgba(36,36,36,.1);
  padding: .7rem .7rem;
}

.antui-table tfoot th {
    cursor: auto;
    border-top: 1px solid rgba(34,36,38,.15);
    background: #f9fafb;
    text-align: inherit;
    color: rgba(0,0,0,.87);
    padding: .78571429em .78571429em;
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
}
.antui-table-tools{
  text-align: right;
  margin-bottom: 4px;
}
.antui-table-tools .antui-btn-group{
  display: inline-block;
  vertical-align: middle;
}
.antui-table-tools .antui-btn-group .antui-btn{
  padding: 5px 10px;
}


/*线条样式*/
.antui-table.line{
  border: none; 
}
.antui-table.line thead th,.antui-table.line tr td{
  border:none;
  border-bottom: 1px solid rgba(34,36,38,.18);
  background-color: unset;
}
.antui-table.line tr:last-child td{
  border: none;
}


/*条纹样式*/
.antui-table.striped tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
/* END table*/

/* CARD */
.antui-card{
  display: inline-block;
  width: 270px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  border: none;
}
.antui-card .card-heardimg{
  padding: 2px;
  font-size: 0;
}
.antui-card .card-heardimg img{
  /*display: block;*/
  width: 100%;
  height: auto;
  border-radius: inherit;
}
.antui-card .card-content{
  padding: 15px;
  border-top: 1px solid rgba(34,36,38,.1);
}
.antui-card .card-title{
  color: rgba(0,0,0,.85);
  transition: color .1s ease;
  font-weight: 700;
  font-size: 1.28571429em;
}
.antui-card .card-small-title{
  font-size: 1em;
  color: rgba(0,0,0,.4);
  padding: 4px 0;
}
.antui-card .card-description{
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
  padding-bottom: 0;
  border-top: 1px solid rgba(34,36,38,.1);
}
.antui-card .float-right{
  margin-right: 0;
}
/* END CARD */

/* tab */
.antui-tab{

}
.antui-tab-items{
  border-bottom: 1px solid #d4d4d5;
  display: flex;
}
.tab-item{
  display: inline-block;
  border:1px solid #ccc;

  background: 0 0;
  border-bottom: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 2px solid transparent;
  padding: 10px 15px;
  color: rgba(0,0,0,.87);
  cursor: pointer;
}
.tab-item.active{
  background: none #fff;
  color: rgba(0,0,0,.95);
  border-top-width: 1px;
  border-color: #d4d4d5;
  font-weight: 700;
  margin-bottom: -1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 6px 6px 0 0!important;
}
.tab-contents{

}
.tab-content{
  border: 1px solid #ccc;
  border-top: 0;
  min-height: 200px;
  border-radius: 0px 0px 6px 6px!important;
  padding: 15px;
}
.tab-content:not(:first-child){
  display: none;
}
.tab-content.active{

}

/* end tab */























